@using ANRTournament.Models
@model Card

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">        
            <div>
                <img class="img-responsive center-block" src="@Model.Imagesrc" alt="Card Image" />
            </div>
        </a>
        <div class="caption text-center">

            <h3>
                @Model.Title<br />
            </h3>
        </div>
    </div>
</div>