@using ANRTournament.Models
@model Player[]
@{
    ViewData["Title"] = "Player";
}

<h2>Players</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    <a asp-controller="Player" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Match Points</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchPoints)
            </td>
        </tr>
    }
</table>