
@using ANRTournament.Models
@model Card[]
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from Home View Template - Cards!</p>

<div class="row">
    @foreach (var card in Model)
    {
        @Html.Partial("_Identity", card)
    }
</div>